@model IEnumerable<Dotnet6MvcLogin.Models.DTO.ApplicationForm>

@{
    ViewData["Title"] = "Display";
}

<h3>Dashboard</h3>
<hr/>

<p>
    <a asp-action="Create"><button>Create New</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Application Number
            </th>
           
            <th>
               FirstName
            </th>
            <th>
                LastName
            </th>
            <th>
               Submitted Date
            </th>
            <th>
               End Date
            </th>
            <th>
              Product Id
            </th>
            <th>
                Bid Price
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationNumber)
            </td>
        
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmittedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                    @*@Html.ActionLink("Edit", "Edit",  new { id = item.ApplicationNumber }) |*@
                    @Html.ActionLink("Details", "Details",   new { id = item.ApplicationNumber, productId = item.productId }) 

                    @*@Html.ActionLink("Delete", "Delete",  new { id = item.ApplicationNumber })   *@  
                   @* passing two models into one view*@
                    

            </td>
        </tr>
}
    </tbody>
</table>
